.main-chat
  .main-chat__group-info
    .main-chat__group-info__content
      .main-chat__group-info__content--name
        = @group.name
      %p.main-chat__group-info__content--member
        Member:
        - @group.users.each do |group|
          = group.name
            



    = link_to "#", class: "main-chat__group-info__btn" do
      Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    .main-chat__message-form__input--form
      = form_for [@group, @message] do |f|
        .input-form 
          = f.text_field :content, placeholder: "type a message", class: "input-form--text"
          = f.label :image, class: "input-form--label" do
            = icon('fas', 'image', class: "fa-lg")
            = f.file_field :image, class: "input-form--image"
        = f.submit "Send", class: "form--btn"